
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap');



*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
font-family: 'Play', sans-serif;
margin:2rem;

}



.wrapper{
    margin: 60px;
    padding: 10px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(12rem, 16rem));
    gap:2rem;
    justify-content: center;
    font-family: 'Play', sans-serif;
}

.card{
    overflow: hidden;
    box-shadow: 0 2px 5px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    transition:transform 200ms ease-in;
    font-family: 'Play', sans-serif;

}

.card__image {
    height: 12rem;
    width: 100%;
    object-fit:cover;

}

.card__title{
    padding:1rem;
}

.card__description{
 padding: 0 1rem;
}

.card__btn{
    padding:1rem;
    font-family:'Play', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border:2px;
    cursor: pointer;
    
}

.card:hover {
    transform: scale(1.02);
}

.find {
    display: flex;

  flex-direction: column;
  align-items: left;
  margin:61px 20px 24px 163px;
    
}

.find__title {
    font-size: 50px;
    font-family: 'Play', sans-serif;
    margin:3px -4px 25px 7px;
  
}

.find_desc {

    font-size: 20px;
    font-family: 'Play', sans-serif;
    margin: 15px 10px 43px 7px;

}

#select__one {
    width: 500px;
    height: 50px;
       
}

#select__two {
    width: 500px;
    height: 50px;
    
}

label {
    display:flex;
    justify-content: center;
    font: 1rem 'Fira Sans', sans-serif;
    width: 200px;
    height: 50px;
    
}

input,
label {
    
    width: 200px;
    height: 50px;
    
}
